body {
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.button {
  padding: 12px;

  background-color: #c080fd;

  border: none;
  border-radius: 8px;

  color: #ffff;

  transition: 0.2s all ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: #b668ff;
  }
}
