.calculator {
  margin-top: 10px;

  width: 674px;

  font-size: 12px;

  &__risks {
    padding: 20px;

    background-color: var(--background-color);

    border-radius: 10px;
    box-shadow: 0 10px 16px -10px rgb(0 0 0 / 40%);

    ul {
      margin: 40px 0 20px 0;
      text-align: center;
    }
  }

  &__duration {
    display: flex;
    align-items: center;

    margin-top: 20px;
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 10px;

    span {
      margin-right: 30px;
    }
  }
}
