.calculator {
  margin-top: 20px;

  width: 560px;

  font-size: 12px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    padding-left: 60px;

    background-color: var(--main-color);

    border-radius: 4px;

    color: var(--white);
  }

  ul {
    margin-top: 10px;
  }
}

.plan {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  &__checkbox {
    margin: 0 18px !important;
    padding: 0 !important;
  }

  &__title {
    width: 180px;
  }

  &__premium {
    width: 188px;
  }

  &__sum {
    max-width: 100px;
  }
}

.risks {
  margin-top: 20px;
  padding: 20px;

  background-color: var(--background-color);

  border-radius: 10px;
  box-shadow: 0 10px 16px -10px rgb(0 0 0 / 40%);

  ul {
    margin: 40px 0 20px 0;
    text-align: center;
  }
}

.Mui-checked {
  color: var(--main-color) !important;
}
